{% extends 'base.html' %}
{% load static %} 
{% block content %}
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Change Password</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <form method = "POST" action="">
        {% csrf_token %}
    
        {{form.as_p}}
    
        <input type="submit" value="Change Password" />
    </form>
  </main><!-- End #main -->
{% endblock %}