{% extends 'base.html' %} 
{% block content %}
{% if user.is_authenticated %}
<main id="main" class="main">
  <section class="section">
    {% for msg in messages %}
    {% if msg.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle me-1"></i>
      {{msg}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {{msg}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
  {% endfor %}
    <div class="row">
      <div class="col-lg-6">
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Send Mail</h5>
            <form class="row g-3" method="POST">
              {% csrf_token %}
              <div class="col-md-12">
                <label for="inputName5" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputName5" name="email"/>
              </div>
              <div class="col-md-12">
                <label for="inputName5" class="form-label">Subject</label>
                <input type="text" class="form-control" id="inputName5" name="subject"/>
              </div>
              <div class="col-md-12">
                <label for="inputAddress5" class="form-label">Body</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="inputAddres5s"
                  name="body"
                  rows="10"
                ></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            <!-- End Multi Columns Form -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endif %}
{% endblock %}
